.hero {
  align-items: flex-end;
  background-color: var(--disabled-surface);
  background-image: url('/images/building.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 392px;
  overflow: hidden;
  padding: 20px;
}
