.hero {
  align-items: flex-end;
  background-color: var(--background);
  background-image: url('/images/building.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 45vh;
  min-height: 400px;
  overflow: hidden;
  padding: var(--spacing-20);
}
