@use '../mixins' as *;

.option {
  align-items: center;
  background: transparent;
  border: 0;
  color: var(--foreground);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  gap: var(--spacing-12);
  justify-content: space-between;
  padding: var(--spacing-md) 0;
  text-align: left;
  width: 100%;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.text {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-2xs);
}

.label {
  font-size: var(--font-size-base);
  font-weight: 700;
}

.subtitle {
  color: var(--foreground);
  font-size: var(--font-size-sm);
  font-weight: 500;
  opacity: 0.6;
}

.mark {
  @include chip(24px, var(--radius-circle));

  background: var(--border);
  color: var(--surface);

  &-is-selected {
    background: var(--brand);
  }
}
