.nav {
  align-items: center;
  background: var(--surface);
  bottom: -1px;
  box-shadow: 0 -4px 16px var(--shadow);
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  position: sticky;
}

.link {
  color: inherit;
  text-decoration: none;
}
