.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.title {
  color: var(--foreground);
  font-size: var(--font-size-md);
  font-weight: 700;
  margin: 0;
}

.description {
  color: var(--text-muted);
  font-size: var(--font-size-sm);
  font-weight: 500;
  margin: 0;
}
