.section {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  color: var(--foreground);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.description {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
