.fab {
  align-items: center;
  background: var(--action);
  border-radius: 180px;
  bottom: 81px;
  box-shadow: 0 4px 20px var(--shadow);
  color: var(--surface);
  display: flex;
  height: 64px;
  justify-content: center;
  position: fixed;
  right: 20px;
  transition:
    opacity 300ms ease,
    transform 300ms ease;
  width: 64px;
  z-index: 2;

  &-is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateX(120px);
  }
}
