.reaction {
  --reaction-fg: var(--brand);

  background: var(--background);
  color: var(--reaction-fg);

  &-kind-dislike {
    --reaction-fg: var(--danger);
  }

  &-is-active {
    background: var(--reaction-fg);
    color: var(--surface);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.55;
  }
}
